<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <LABLinkService DefaultSetting="True">
    <Item Name="Port" Value="123" Desc="" />
    <Item Name="Timerinterval" Value="2" Desc="" />
    <Item Name="Delaytime" Value="2" Desc="" />
    <Item Name="Server" Value="vietbait.mine.nu" Desc="" />
    <Item Name="Password" Value="lablink" Desc="" />
    <Item Name="ip" Value="192.168.1.1" Desc="" />
    <Item Name="PortNumber" Value="111" Desc="" />
    <Item Name="Port" Value="104" Desc="" />
    <Item Name="Timerinterval" Value="100" Desc="" />
    <Item Name="Delaytime" Value="10" Desc="" />
    <Item Name="Database" Value="LAB_YHHQ_Ver2" Desc="" />
    <Item Name="Password" Value="sa" Desc="" />
    <Item Name="ip" Value="192.168.1.1" Desc="" />
    <Item Name="PortNumber" Value="111" Desc="" />
    <Item Name="UserId" Value="lablink" Desc="" />
    <Item Name="IpAdress" Value="192.168.1.1" Desc="" />
    <Item Name="UseTestTypeIdToGenerateBarcode" Value="False" Desc="" />
    <Item Name="DateFormat" Value="M/d/yyyy" Desc="" />
    <Item Name="LogState" Value="True" Desc="" />
  </LABLinkService>
  <LABLinkBusiness DefaultSetting="True">
    <Item Name="Default Name" Value="Default Value" Desc="Default Desc" />
    <Item Name="ParentBranch" Value="QUÂN ĐỘI NHÂN DÂN VIỆT NAM" Desc="" />
    <Item Name="Branch" Value="THAIHA" Desc="" />
    <Item Name="Address" Value="1" Desc="" />
    <Item Name="Phone" Value="1" Desc="" />
    <Item Name="ReportType" Value="11" Desc="" />
  </LABLinkBusiness>
</configuration>