<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <Config>
    <SERVERADDRESS>.\sql2k8</SERVERADDRESS>
    <DATABASE_ID>LAB_VNIO</DATABASE_ID>
    <USERNAME>sa</USERNAME>
    <PASSWORD>123456</PASSWORD>
    <BranchID>THAIHA</BranchID>
    <LANGUAGEDISPLAY>VN</LANGUAGEDISPLAY>
    <INTERFACEDISPLAY>MENU</INTERFACEDISPLAY>
    <LOCALALIAS>HUYETHOC</LOCALALIAS>
  </Config>
</NewDataSet>